<configuration xmlns:x="http://www.sitecore.net/xmlconfig/">
   <sitecore>
      <databases>
         <database id="web" singleInstance="true" type="Sitecore.Data.Database, Sitecore.Kernel">
            <Engines.HistoryEngine.Storage>
               <obj type="Sitecore.Data.$(database).$(database)HistoryStorage, Sitecore.Kernel">
                  <param connectionStringName="$(id)" />
                  <EntryLifeTime>30.00:00:00</EntryLifeTime>
               </obj>
            </Engines.HistoryEngine.Storage>
            <Engines.HistoryEngine.SaveDotNetCallStack>false</Engines.HistoryEngine.SaveDotNetCallStack>
         </database>
      </databases>
      <search>
         <configuration>
            <indexes>
               <index id="advanced" type="Sitecore.Search.Index, Sitecore.Kernel">
                  <param desc="name">$(id)</param>
                  <param desc="folder">advanced</param>
                  <Analyzer ref="search/analyzer" />
                  <locations hint="list:AddCrawler">
                     <master type="Sitecore.SharedSource.Search.Crawlers.AdvancedDatabaseCrawler,Sitecore.SharedSource.Search">
                        <Database>master</Database>
                        <Root>/sitecore/content</Root>
                        <IndexAllFields>true</IndexAllFields>

                        <!--<include hint="list:IncludeTemplate">
                         <template>{GUID}</template>
                        </include>-->

                        <!-- <include hint="list:ExcludeTemplate">
                           <template>{GUID}</template>
                        </include>-->

                        <!--<include hint="list:IncludeField">
                           <fieldId>{8CDC337E-A112-42FB-BBB4-4143751E123F}</fieldId>
                        </include>-->

                        <include hint="list:ExcludeField">
                           <!-- __revision field -->
                           <fieldId>{8CDC337E-A112-42FB-BBB4-4143751E123F}</fieldId>
                           <!-- __context menu field -->
                           <fieldId>{D3AE7222-425D-4B77-95D8-EE33AC2B6730}</fieldId>
                           <!-- __security field -->
                           <fieldId>{DEC8D2D5-E3CF-48B6-A653-8E69E2716641}</fieldId>
                           <!-- __renderings field -->
                           <fieldId>{F1A1FE9E-A60C-4DDB-A3A0-BB5B29FE732E}</fieldId>
                        </include>

                        <fieldCrawlers hint="raw:AddFieldCrawlers">
                           <fieldCrawler type="Sitecore.SharedSource.Search.FieldCrawlers.LookupFieldCrawler,Sitecore.SharedSource.Search" fieldType="Droplink" />
                           <fieldCrawler type="Sitecore.SharedSource.Search.FieldCrawlers.DateFieldCrawler,Sitecore.SharedSource.Search" fieldType="Datetime" />
                           <fieldCrawler type="Sitecore.SharedSource.Search.FieldCrawlers.DateFieldCrawler,Sitecore.SharedSource.Search" fieldType="Date" />
                           <fieldCrawler type="Sitecore.SharedSource.Search.FieldCrawlers.NumberFieldCrawler,Sitecore.SharedSource.Search" fieldType="Number" />
                        </fieldCrawlers>

                        <dynamicFields hint="raw:AddDynamicFields">
                           <dynamicField type="Sitecore.SharedSource.Search.DynamicFields.LinksField,Sitecore.SharedSource.Search" name="_links" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <dynamicField type="Sitecore.SharedSource.Search.DynamicFields.FullPathField,Sitecore.SharedSource.Search" name="_fullcontentpath" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <dynamicField type="Sitecore.SharedSource.Search.DynamicFields.IsApprovedField,Sitecore.SharedSource.Search" name="_isapproved" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <dynamicField type="Sitecore.SharedSource.Search.DynamicFields.TemplateNameField,Sitecore.SharedSource.Search" name="_templatename" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <dynamicField type="Sitecore.SharedSource.Search.DynamicFields.IsLockedField,Sitecore.SharedSource.Search" name="_islocked" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <dynamicField type="Sitecore.SharedSource.Search.DynamicFields.LockUserNameField,Sitecore.SharedSource.Search" name="_lockusername" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <dynamicField type="Sitecore.SharedSource.Search.DynamicFields.LockDateField,Sitecore.SharedSource.Search" name="_lockdate" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <dynamicField type="Sitecore.SharedSource.Search.DynamicFields.HasLayoutField,Sitecore.SharedSource.Search" name="_haslayout" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <dynamicField type="Sitecore.SharedSource.Search.DynamicFields.HasExplicitDeniesField,Sitecore.SharedSource.Search" name="_hasdenies" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <dynamicField type="Sitecore.SharedSource.Search.DynamicFields.IconField,Sitecore.SharedSource.Search" name="_icon" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <dynamicField type="Sitecore.SharedSource.Search.DynamicFields.IsInWorkflowField,Sitecore.SharedSource.Search" name="_isinworkflow" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <dynamicField type="Sitecore.SharedSource.Search.DynamicFields.WorkflowField,Sitecore.SharedSource.Search" name="_workflow" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <dynamicField type="Sitecore.SharedSource.Search.DynamicFields.WorkflowStateField,Sitecore.SharedSource.Search" name="_workflowstate" storageType="YES" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                        </dynamicFields>

                        <fieldTypes hint="raw:AddFieldTypes">
                           <fieldType name="checkbox" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="date" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="datetime" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="file" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="image" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="single-line text" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="multi-line text" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="word document" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="checklist" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="droplist" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="grouped droplink" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="grouped droplist" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="multilist" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="treelist" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="treelistex" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="droplink" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="droptree" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="general link" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="custom" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="internal link" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="layout" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="template field source" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="file drop area" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="html" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="rich text" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="memo" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="link" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="lookup" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="reference" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="text" storageType="NO" indexType="TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="tree" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="tree list" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="valuelookup" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                           <fieldType name="number" storageType="NO" indexType="UN_TOKENIZED" vectorType="NO" boost="1f" />
                        </fieldTypes>

                        <!--<itemBatches>
                                    <itemBatch>
                                        <ids>{5BF84765-19BC-41D0-BE87-0E13D95D4DC4}|{5BF84765-19BC-41D0-BE87-0E13D95D4DC4}</ids>
                                        <templates>{5BF84765-19BC-41D0-BE87-0E13D95D4DC4}|{5BF84765-19BC-41D0-BE87-0E13D95D4DC4}</templates>
                                        <resolver></resolver>
                                    </itemBatch>
                                </itemBatches>-->

                        <!--<filters>
                                    <templates>
                                        <include>

                                        </include>
                                        <exclude>

                                        </exclude>
                                    </templates>
                                    <items>
                                    </items>
                                    <fields>
                                        <include>
                                            <field id="{5BF84765-19BC-41D0-BE87-0E13D95D4DC4}" storageType="" indexType="" vectorType="" boost="1.0" />
                                        </include>
                                    </fields>
                                </filters>-->

                     </master>
                  </locations>
               </index>
            </indexes>
         </configuration>
      </search>
   </sitecore>
</configuration>
