body
{
   font-family: Consolas;
}

#settings
{
   width: 450px;
   float:left;
}

#ResultPanel
{
   width: 600px;
   height: 100%;
   float:left;
}

#ResultPanel .normal-timing
{
   color: Green;
   font-weight: bold;
}

#ResultPanel .exceeded-timing
{
   color: Red;
   font-weight: bolder;
}
